@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Capriola&display=swap");
html {
  background: linear-gradient(180deg, #156172 0%, rgba(27, 116, 136, 0.76) 28.65%, #58BFD7 100%);
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

body {
  margin: 0; }

header {
  width: 100%; }

header #cloud-background {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1; }

header #cloud-background img {
  width: 100%;
  height: 100%; }
