/// root settings
html
    background-image: url("assets/images/topographic-background.svg")
    background-attachment: fixed
    @include font-body
    line-height: 1.35
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    ::selection
        background: $color-brown
        color: white

/// text
/* trailblaze header */
h1
    @include font-primary
    margin-left: 0.75em
/* page header */
h2
    @include font-secondary
    margin-bottom: 0.05em
/* navigation and trail headers */
h3
    @include font-nav
p
    @include font-body
a
    @include font-body
    color: $color-secondary
    text-decoration: none

/// spacing settings
$header-footer-spacing: 6em // distance from header and footer
$content-spacing-lg: 8em
$content-spacing-md: 5em // used to seperate content
$content-spacing-sm: 3em
$content-spacing-xsm: 1.5em

.space-bottom-xsm
    margin-bottom: $content-spacing-xsm

.space-bottom-sm
    margin-bottom: $content-spacing-sm

.space-bottom-md
    margin-bottom: $content-spacing-md

.space-bottom-lg
    margin-bottom: $content-spacing-lg


/// layouts
#app // wrapper for header, main, and footer
    display: flex
    flex-direction: column
    min-height: 100vh

.tb-page // every page wrapped in this
    margin-top: $header-footer-spacing 
    margin-bottom: $header-footer-spacing

    .content-wrapper // every pages content wrapped in this
        max-width: 1400px
        padding: 0 5em
        margin: auto

.col-layout // col layouts
    display: flex
    flex-wrap: nowrap

    > // default col settings
        *:not(:last-child) 
            margin-right: 0.75em

        *:not(:first-child) 
            margin-left: 0.75em
        
    // generate 6 col classes
    @for $i from 1 through 6
        $col_width: 100% / $i

        .col--#{$i}
            flex-grow: 0
            flex-shrink: 1
            flex-basis: $col_width

.flex-col // class for setting flex column layout
    display: flex
    flex-direction: column

// generate 7 flex grow and shrink classes
@for $i from 0 through 6
    .grow--#{$i}
        flex-grow: $i
    
    .shrink--#{$i}
        flex-shrink: $i

/// spinners

@keyframes spinner 
    0% 
        transform: translate3d(-50%, -50%, 0) rotate(0deg)
    
    100% 
        transform: translate3d(-50%, -50%, 0) rotate(360deg)
    

.spinner::before 
    animation: 1.5s linear infinite spinner
    animation-play-state: inherit
    border: solid 5px transparent
    border-bottom-color: $color-white
    border-top-color: $color-white
    border-radius: 50%
    content: ""
    padding: 10px
    position: absolute
    top: 50%
    left: 50%
    transform: translate3d(-50%, -50%, 0)
    will-change: transform



  